/*
** Google Fonts **
font-family: 'Walter Turncoat', cursive;

@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');


/*

body {
    background: #282828;
    margin: 0;
    font-family: 'Walter Turncoat', cursive;
}


h1 {
    position: absolute;
    width: 405px;
    height: 50px;
    left: 0;
    bottom: 10px;
    background: rgba(40, 40, 40, 0.8);
    padding: 0px 30px;
    color: #fff;
}



h2 {
    margin: 0;
    text-align: center;
}


nav {
    height: 35px;
    background: rgba(40, 40, 40, 0.8);
    color: #fff;
}

nav a {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin: 0 0 0 30px;
    padding: 10px;
}

nav a:hover {
    font-size: 22px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
}


header {
    height: 50px;
}

article {
    color: #fff;
}


button {
    padding: 10px 20px;
    background-color: #790101;
    color: #fff;
    font-weight: bold;
    tex-decoration: uppercase;
    font-size: 20px;
    font-family: 'Walter Turncoat', cursive;
    margin-top: 20px;
}


form p{
    font-size: 14px;
    line-height: 18px;
}

*/

iframe {
    margin: 0 auto;
    display: block;
    padding-bottom: 50px;
    width: 720px;
    height: 405px;
    border: none;
}

svg {
    fill: #fff;
    width: 110px;
    height: 110px;
}

svg:hover{
    fill: #BA0100;
}

footer {
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
    border-top: 5px solid #282828;
}

footer a {
    color: #fff;
    text-decoration: none;
}


/* ** Classes ** */

.wrapper {
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-color: #BA0100;
    background-size: 100% auto;
    max-width: 1000px;
    padding: 20px;
}

/* Form */
.red {

}

.formWrapper {
    margin:60px 0 100px 0;
    position: relative;
}

form {
    border: 1px solid red;
    width: 43%;
    height: 120%;
    position: absolute;
    right: 30px;
    top: -40px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 15px #282828;
    padding: 25px;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 9px 200px 5px 9px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    font-size: 17px;
    color: #282828;
    font-family: 'Walter Turncoat', cursive;
}

/* Article */
.box {
    margin-top: 30px;
    width: 30%;
    margin: 0 10px;
    text-align: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #790101;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /*transition-delay: 0.1s;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle:hover {
  background-color: #282828;
}

.todo {
    display: flex;
    margin-top: 20px;
}

.white {
    color: #fff;
}

@media screen and (max-width: 700px) {

    form {
        width: 100%;
        position: static;

    }

}
